body, html {
    margin: 0;
    padding: 0;
    /* filter: blur(4px); */
}

* {
    font-family: sans-serif;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    left: 20px;
    top: 20px;
}

a.back {
    display: block;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

a.back:hover {
    background: #ddd;
}






/* ======= HUD ========= */

/*
 Cobalt blue: za borders
    #0047AB    rgba(0, 71, 171)
noranjost (skoraj bela, pomemben opacity)
    (204, 204, 255, 0.5)

*/

/* ===== SCORING SYSTEM SEGMENTS ======= */

/* ---- MONEY ----- */
#money_div {
    position: absolute;
    top:0.5rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#money_text {
    position: absolute;
    top: -48%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;
   
}

#money_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
    
}

#money_data {
    position: relative;
    top: -48%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}

/* ----- INCOME ------ */

#income_div {
    position: absolute;
    top:3rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#income_text {
    position: absolute;
    top: -49%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;
   
}

#income_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
    
}

#income_data {
    position: relative;
    top: -49%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}


/* ---- POPULATION ----- */
#population_div {
    position: absolute;
    top: 5.5rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#population_text {
    position: absolute;
    top: -49%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;
   
}

#population_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
    
}

#population_working_data {
    position: absolute;
    top: -49%;
    right: 55%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}

#population_data_slash {
    position: absolute;
    top: -49%;
    right: 50%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}

#population_all_data {
    position: absolute;
    top: -49%;
    left: 52%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}

/* ---- HAPPINESS ----- */
#happiness_div {
    position: absolute;
    top: 8rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#happiness_text {
    position: absolute;
    top: -49%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;
   
}

#happiness_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
    
}

#happiness_data {
    position: relative;
    top: -49%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}

#happiness_percentage {
    position: absolute;
    top: -49%;
    right: 25%;
    line-height: 1.5rem;
    font-size: 140%;
   
}

/* ---- PRODUCTION ----- */
#production_div {
    position: absolute;
    top: 10.5rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#production_text {
    position: absolute;
    top: -49%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;

}

#production_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
}

#production_used_data {
    position: absolute;
    top: -49%;
    right: 55%;
    line-height: 1.5rem;
    font-size: 140%;
    text-align: center;    
}

#production_data_slash {
    position: absolute;
    top: -49%;
    right: 50%;
    line-height: 1.5rem;
    font-size: 140%;
    text-align: center;    
}

#production_all_data {
    position: absolute;
    top: -49%;
    left: 52%;
    line-height: 1.5rem;
    font-size: 140%;
    text-align: center;    
}

/* ------ ENERGY ----- */

#energy_div {
    position: absolute;
    top: 13rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#energy_text {
    position: absolute;
    top: -49%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;

}

#energy_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
}

#energy_used_data {
    position: absolute;
    top: -49%;
    right: 55%;
    line-height: 1.5rem;
    font-size: 140%;
    text-align: center;    
}

#energy_data_slash {
    position: absolute;
    top: -49%;
    right: 50%;
    line-height: 1.5rem;
    font-size: 140%;
    text-align: center;    
}

#energy_all_data {
    position: absolute;
    top: -49%;
    left: 52%;
    line-height: 1.5rem;
    font-size: 140%;
    text-align: center;    
}

/* ---- SCORE ----- */
#score_div {
    position: absolute;
    top: 15.5rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#score_text {
    position: absolute;
    top: -49%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;
   
}

#score_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
    
}

#score_data {
    position: relative;
    top: -49%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}


/* ===== TOOL TIPS ======== */

#money_tooltip{
    position: absolute;
    top: 1rem;
    left: 16.5rem;
    height: 1.3rem;
    width: 1.3rem;
    
    background-color: rgba(204, 204, 255, 0.6); 
    border-radius: 1rem; 
    
}

#money_tooltip_icon {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

}

#money_tooltext {
    visibility: hidden;
    position: absolute;
    left: 1.5rem;
    width: 13rem;
    height: 11rem;
    background-color: rgba(204, 204, 255, 0.6); 
    padding: 0.3rem 0.3rem;
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
    font-size: 120%;
    color: black;
    text-align: center;
    vertical-align: text-top;

}

#money_tooltip:hover #money_tooltext {
    visibility: visible;
  }


#income_tooltip{
    position: absolute;
    top: 3.5rem;
    left: 16.5rem;
    height: 1.3rem;
    width: 1.3rem;
    
    background-color: rgba(204, 204, 255, 0.6); 
    border-radius: 1rem; 
    
}

  #income_tooltext {
    visibility: hidden;
    position: absolute;
    left: 1.5rem;
    width: 13rem;
    height: 12.5rem;
    background-color: rgba(204, 204, 255, 0.6); 
    padding: 0.3rem 0.3rem;
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
    font-size: 120%;
    color: black;
    text-align: center;
    vertical-align: text-top;

}

#income_tooltip:hover #income_tooltext {
    visibility: visible;
  }


#population_tooltip{
    position: absolute;
    top: 6rem;
    left: 16.5rem;
    height: 1.3rem;
    width: 1.3rem;
    
    background-color: rgba(204, 204, 255, 0.6); 
    border-radius: 1rem; 
    
}

  #population_tooltext {
    visibility: hidden;
    position: absolute;
    left: 1.5rem;
    width: 13rem;
    height: 15rem;
    background-color: rgba(204, 204, 255, 0.6); 
    padding: 0.3rem 0.3rem;
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
    font-size: 120%;
    color: black;
    text-align: center;
    vertical-align: text-top;

}

#population_tooltip:hover #population_tooltext {
    visibility: visible;
  }


#happiness_tooltip{
    position: absolute;
    top: 8.5rem;
    left: 16.5rem;
    height: 1.3rem;
    width: 1.3rem;
    
    background-color: rgba(204, 204, 255, 0.6); 
    border-radius: 1rem; 
    
}

  #happiness_tooltext {
    visibility: hidden;
    position: absolute;
    left: 1.5rem;
    width: 13rem;
    height: 14rem;
    background-color: rgba(204, 204, 255, 0.6); 
    padding: 0.3rem 0.3rem;
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
    font-size: 120%;
    color: black;
    text-align: center;
    vertical-align: text-top;

}

#happiness_tooltip:hover #happiness_tooltext {
    visibility: visible;
  }


#goods_tooltip{
    position: absolute;
    top: 11rem;
    left: 16.5rem;
    height: 1.3rem;
    width: 1.3rem;
    
    background-color: rgba(204, 204, 255, 0.6); 
    border-radius: 1rem; 
    
}

#goods_tooltext {
    visibility: hidden;
    position: absolute;
    left: 1.5rem;
    width: 13rem;
    height: 11rem;
    background-color: rgba(204, 204, 255, 0.6); 
    padding: 0.3rem 0.3rem;
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
    font-size: 120%;
    color: black;
    text-align: center;
    vertical-align: text-top;

}

#goods_tooltip:hover #goods_tooltext {
    visibility: visible;
  }


#energy_tooltip{
    position: absolute;
    top: 13.5rem;
    left: 16.5rem;
    height: 1.3rem;
    width: 1.3rem;
    
    background-color: rgba(204, 204, 255, 0.6); 
    border-radius: 1rem; 
    
}

#energy_tooltext {
    visibility: hidden;
    position: absolute;
    left: 1.5rem;
    width: 13rem;
    height: 14rem;
    background-color: rgba(204, 204, 255, 0.6); 
    padding: 0.3rem 0.3rem;
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
    font-size: 120%;
    color: black;
    text-align: center;
    vertical-align: text-top;

}

#energy_tooltip:hover #energy_tooltext {
    visibility: visible;
  }


#score_tooltip{
    position: absolute;
    top: 16rem;
    left: 16.5rem;
    height: 1.3rem;
    width: 1.3rem;
    
    background-color: rgba(204, 204, 255, 0.6); 
    border-radius: 1rem; 
    
}

#score_tooltext {
    visibility: hidden;
    position: absolute;
    left: 1.5rem;
    width: 13rem;
    height: 8.5rem;
    background-color: rgba(204, 204, 255, 0.6); 
    padding: 0.3rem 0.3rem;
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
    font-size: 120%;
    color: black;
    text-align: center;
    vertical-align: text-top;

}

#score_tooltip:hover #score_tooltext {
    visibility: visible;
}

/* --- DATETIME --- */

#datetime_div {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    height: 3rem;
    width: 12rem;
    
    background-color: rgba(204, 204, 255, 0.5);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#datetime_day_data {
    position: absolute;
    top: -28%;
    left: 10%;
    line-height: 2rem;
    font-size: 140%;
}

#datetime_dash {
    position: absolute;
    top: -28%;
    left: 45%;
    line-height: 2rem;
    font-size: 140%;
}


#datetime_time_data {
    position: absolute;
    top: -28%;
    right: 3.5rem;
    line-height: 2rem;
    font-size: 140%;
}

#datetime_time_zeroes {
    position: absolute;
    top: -28%;
    right: 1.5rem;
    line-height: 2rem;
    font-size: 140%;
}

/* ---- CONTROLS ---- */

#controls_div {
    position: absolute;
    top: 4.3rem;
    right: 2.2rem;
    width: 9.5rem;
    height: 2.5rem;
   
    
    background-color: rgba(204, 204, 255, 0.5);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#pause_icon {
    position: absolute;
    width: 2.5rem;
    height: 2.2rem;
    left: 0.5rem;
    top: 0.2rem;

    transition: 0.1s;
}
#pause_icon:hover {
    transform: scale(1.1);
}

#play_icon {
    position: absolute;
    width: 2.5rem;
    height: 2.2rem;
    left: 3.4rem;
    top: 0.2rem;
}
#play_icon:hover {
    transform: scale(1.1);
}

#ff_icon {
    position: absolute;
    width: 2.5rem;
    height: 2.2rem;
    left: 6.45rem;
    top: 0.2rem;
}
#ff_icon:hover {
    transform: scale(1.1);
}



/* ---- TOOLBAR ---- */



#toolbar_div {
    position: absolute;
    bottom: 5%;
    left: 40%;
    width: 20%;
    height: 12%;
    padding: 0;
    background-color: rgba(204, 204, 255, 0.5);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
    display: block;
    
}


#toolbar_house_div {
    position: absolute;
    top: 6%;
    left: 1.5%;
    width: 14%;
    height: 60%;
    
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#house_cost_div {
    position: absolute;
    bottom: 4%;
    left: 1.5%;
    width: 14%;
    height: 16%;

    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#house_cost_data, #shop_cost_data, #factory_cost_data, #road_cost_data, #wind_turbine_cost_data, #bulldoze_cost_data {
    position: relative;
    font-size: 1vw;
    top: -115%;
    text-align: center;
}

#house_icon {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    transition: 0.1s;
}
#house_icon:hover {
    transform: scale(1.15);
}


#toolbar_shop_div {
    position: absolute;
    top: 6%;
    left: 18%;
    width: 14%;
    height: 60%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#shop_cost_div {
    position: absolute;
    bottom: 4%;
    left: 18%;
    width: 14%;
    height: 16%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}



#shop_icon {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;

    transition: 0.1s;
}
#shop_icon:hover {
    transform: scale(1.15);
}

#toolbar_factory_div {
    position: absolute;
    top: 6%;
    left: 34.3%;
    width: 14%;
    height: 60%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#factory_cost_div {
    position: absolute;
    bottom: 4%;
    left: 34.3%;
    width: 14%;
    height: 16%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#factory_icon {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;

    transition: 0.1s;
}
#factory_icon:hover {
    transform: scale(1.15);
}


#toolbar_road_div {
    position: absolute;
    top: 6%;
    right: 34.3%;
    width: 14%;
    height: 60%;
    
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#road_cost_div {
    position: absolute;
    bottom: 4%;
    right: 34.3%;
    width: 14%;
    height: 16%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#road_icon {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;

    transition: 0.1s;
}
#road_icon:hover {
    transform: scale(1.15);
}

#toolbar_wind_turbine_div {
    position: absolute;
    top: 6%;
    right: 18%;
    width: 14%;
    height: 60%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#wind_turbine_cost_div {
    position: absolute;
    bottom: 4%;
    right: 18%;
    width: 14%;
    height: 16%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}


#wind_turbine_icon {
    position: absolute;
    width: 95%;
    height: 95%;
    left: 5%;
    top: 5%;

    transition: 0.1s;
}
#wind_turbine_icon:hover {
    transform: scale(1.15);
}



#toolbar_bulldoze_div {
    position: absolute;
    top: 6%;
    right: 1.5%;
    width: 14%;
    height: 60%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#bulldoze_cost_div {
    position: absolute;
    bottom: 4%;
    right: 1.5%;
    width: 14%;
    height: 16%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}


#bulldoze_icon {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;

    transition: 0.1s;
}
#bulldoze_icon:hover {
    transform: scale(1.15);
}


#toolbar_arrow_div {
    position: absolute;
    top: -18%;
    left: 44%;
    width: 12%;
    height: 18%;
   
    background-color: rgba(172, 172, 218, 0.8);
    border-style: solid;
    border-radius: 0.5rem;
    border-color:  #0047AB;
}

#arrow_down_icon {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    transition: 0.1s;
}
#arrow_down_icon:hover {
    transform:translateY(0.1rem);
}


#toolbar_show_div {
    position: absolute;
    bottom: 3%;
    left: 48.8%;
    width: 2.3%;
    height: 2.3%;
   
    background-color: rgba(172, 172, 218, 0.8);
    border-style: solid;
    border-radius: 0.5rem;
    border-color:  #0047AB;
    display: none;
}

#arrow_up_icon {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    transition: 0.1s;
}
#arrow_up_icon:hover {
    transform: translateY(-0.1rem);
}

/* ==== LOADING SCREEN ===== */

#loading_screen {
    background: black;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    display: block;
    z-index: 1;
}

#loading_percentage {
    position: absolute;
    width: 30%;
    height: 5%;
    margin:auto;
    text-align: center;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 0;
    border-color: white;
    border-style: solid;
    border-width: medium;
}

#loading_percentage_data {
    position: relative;
    bottom: -100%;
    line-height: 2rem;
    font-size: 200%;
    text-align: center; 
    color: white;
}

#loading_progress {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 0%;
}

#loading_loading{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    line-height: 2rem;
    font-size: 200%;
    text-align: center; 
    color: white;
}


#hint {
    position: absolute;
    width: 50%;
    height: 10%;
    margin:auto;
    text-align: center;
    bottom: 10%;
    left: 0;
    right: 0;

}

#hint_data {
    position: relative;
    line-height: 2rem;
    font-size: 200%;
    text-align: center; 
    color: white;
}


/* ======= MAIN MENU ======== */

#main_menu_div{
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    display: block;
    z-index: 3;
    color: white;

}

#main_menu_background{
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-image: url(/assets/images/Backgrounds/Screenshot_1.png);
    background-color: #000;
    filter: blur(4px);
    z-index: 2;    
}

#main_menu_title{
    position: absolute;
    top: 10rem;
    left: 30%;
    width: 40%;
    height: 4.5rem;
    backdrop-filter: blur(4px);
    text-align: center;
    line-height: 0;

    font-size: 500%;
}

#main_menu_play{
    position: absolute;
    top: 30rem;
    left: 35%;
    width: 30%;
    height: 4.5rem;
        
    text-align: center;

    border-style: solid;
    border-radius: 0.8rem;
    border-color:  white;
    font-size: 400%;

}

#main_menu_play_text{
    position: relative;
    top: -90%;
}

#main_menu_play:hover{
    background-color: #ccc;
    color: black;

    border-color: rgba(172, 172, 218, 0.8);
    background-color:  #44b4e0;
}

#main_menu_howto{
    position: absolute;
    top: 40rem;
    left: 35%;
    width: 30%;
    height: 4.5rem;
        
    text-align: center;

    border-style: solid;
    border-radius: 0.8rem;
    border-color:  white;
    font-size: 350%;

}

#main_menu_howto_text{
    position: relative;
    top: -70%;
}

#main_menu_howto:hover{
    background-color: #ccc;
    color: black;
    border-color: rgba(172, 172, 218, 0.8);
    background-color:  #44b4e0;
}


#howto_div {
    position: absolute;
    background: black;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    display: block;
    z-index: 2;
    display: none;
}

#howto_title{
    position: absolute;
    text-align: center;
    top: 1rem;
    font-size: 300%;
    color: white;
    left: 40%;
    
}

#howto_data{
    position: absolute;
    top: 5.5rem;
    left: 15%;
    width: 70%;
    height: 60%;
    color: white;
    font-size: 150%;
    text-align: center;
    white-space: pre-line;
  
}

#howto_back{
    position: absolute;
    bottom: 5.5rem;
    left: 30%;
    width: 40%;
    height: 4rem;
    color: white;
    text-align: center;
    white-space: pre-line;
    border-style: solid;
    border-radius: 0.8rem;
    border-color:  white;
    font-size: 300%;
}

#howto_back_text{
    position: relative;
    text-align: center;
    bottom: 65%;
}

#howto_back:hover{
    background-color: #ccc;
    color: black;
    border-color: rgba(172, 172, 218, 0.8);
    background-color:  #44b4e0;
}


/* ======= GAME OVER ========= */

#gameover_div{

    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    display: block;
    z-index: 2;
    display: none;
    text-align: center;
} 

#gameover_title{
    position: absolute;
    top: 25%;
    left: 35%;
    font-size: 500%;
    color: black;
    text-shadow: 2px 2px gray;
}

#gameover_text{
    position: absolute;
    bottom: 25%;
    left: 0px;
    right: 0px;
    font-size: 200%;
    text-align: center;
    color:black;
}











