body, html {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    left: 20px;
    top: 20px;
}

a.back {
    display: block;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

a.back:hover {
    background: #ddd;
}






/* ======= HUD ========= */

/*
 Cobalt blue: za borders
    #0047AB    rgba(0, 71, 171)
noranjost (skoraj bela, pomemben opacity)
    (204, 204, 255, 0.5)

*/

/* ===== SCORING SYSTEM SEGMENTS ======= */

/* ---- MONEY ----- */
#money_div {
    position: absolute;
    top:0.5rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#money_text {
    position: absolute;
    top: -48%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;
   
}

#money_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
    
}

#money_data {
    position: relative;
    top: -48%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}

/* ----- INCOME ------ */

#income_div {
    position: absolute;
    top:3rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#income_text {
    position: absolute;
    top: -49%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;
   
}

#income_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
    
}

#income_data {
    position: relative;
    top: -49%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}


/* ---- POPULATION ----- */
#population_div {
    position: absolute;
    top: 5.5rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#population_text {
    position: absolute;
    top: -49%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;
   
}

#population_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
    
}

#population_working_data {
    position: absolute;
    top: -49%;
    right: 55%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}

#population_data_slash {
    position: absolute;
    top: -49%;
    right: 50%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}

#population_all_data {
    position: absolute;
    top: -49%;
    left: 52%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}

/* ---- HAPPINESS ----- */
#happiness_div {
    position: absolute;
    top: 8rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#happiness_text {
    position: absolute;
    top: -49%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;
   
}

#happiness_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
    
}

#happiness_data {
    position: relative;
    top: -49%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}

#happiness_percentage {
    position: absolute;
    top: -49%;
    right: 25%;
    line-height: 1.5rem;
    font-size: 140%;
   
}

/* ---- PRODUCTION ----- */
#production_div {
    position: absolute;
    top: 10.5rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#production_text {
    position: absolute;
    top: -49%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;

}

#production_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
}

#production_used_data {
    position: absolute;
    top: -49%;
    right: 55%;
    line-height: 1.5rem;
    font-size: 140%;
    text-align: center;    
}

#production_data_slash {
    position: absolute;
    top: -49%;
    right: 50%;
    line-height: 1.5rem;
    font-size: 140%;
    text-align: center;    
}

#production_all_data {
    position: absolute;
    top: -49%;
    left: 52%;
    line-height: 1.5rem;
    font-size: 140%;
    text-align: center;    
}

/* ------ ENERGY ----- */

#energy_div {
    position: absolute;
    top: 13rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#energy_text {
    position: absolute;
    top: -49%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;

}

#energy_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
}

#energy_used_data {
    position: absolute;
    top: -49%;
    right: 55%;
    line-height: 1.5rem;
    font-size: 140%;
    text-align: center;    
}

#energy_data_slash {
    position: absolute;
    top: -49%;
    right: 50%;
    line-height: 1.5rem;
    font-size: 140%;
    text-align: center;    
}

#energy_all_data {
    position: absolute;
    top: -49%;
    left: 52%;
    line-height: 1.5rem;
    font-size: 140%;
    text-align: center;    
}

/* ---- SCORE ----- */
#score_div {
    position: absolute;
    top: 15.5rem;
    left: 1rem;
    height: 2rem;
    width: 15rem;
    
    background-color: rgba(204, 204, 255, 0.6);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#score_text {
    position: absolute;
    top: -49%;
    left: 5%;
    line-height: 1.5rem;
    font-size: 130%;
   
}

#score_data_div {
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 10rem;
    
}

#score_data {
    position: relative;
    top: -49%;
    line-height: 1.5rem;
    font-size: 130%;
    text-align: center;
    
}



/* --- DATETIME --- */

#datetime_div {
    position: absolute;
    top: 4rem;
    right: 1rem;
    height: 3rem;
    width: 12rem;
    
    background-color: rgba(204, 204, 255, 0.5);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#datetime_day_data {
    position: absolute;
    top: -28%;
    left: 10%;
    line-height: 2rem;
    font-size: 140%;
}

#datetime_dash {
    position: absolute;
    top: -28%;
    left: 45%;
    line-height: 2rem;
    font-size: 140%;
}


#datetime_time_data {
    position: absolute;
    top: -28%;
    right: 3.5rem;
    line-height: 2rem;
    font-size: 140%;
}

#datetime_time_zeroes {
    position: absolute;
    top: -28%;
    right: 1.5rem;
    line-height: 2rem;
    font-size: 140%;
}

/* ---- CONTROLS ---- */

#controls_div {
    position: absolute;
    top: 8rem;
    right: 2.3rem;
    width: 9.5rem;
    height: 2.5rem;
   
    
    background-color: rgba(204, 204, 255, 0.5);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#pause_icon {
    position: absolute;
    width: 2.5rem;
    height: 2.2rem;
    left: 0.5rem;
    top: 0.2rem;

    transition: 0.1s;
}
#pause_icon:hover {
    transform: scale(1.1);
}

#play_icon {
    position: absolute;
    width: 2.5rem;
    height: 2.2rem;
    left: 3.4rem;
    top: 0.2rem;
}
#play_icon:hover {
    transform: scale(1.1);
}

#ff_icon {
    position: absolute;
    width: 2.5rem;
    height: 2.2rem;
    left: 6.45rem;
    top: 0.2rem;
}
#ff_icon:hover {
    transform: scale(1.1);
}



/* ---- TOOLBAR ---- */



#toolbar_div {
    position: absolute;
    bottom: 5%;
    left: 40%;
    width: 20%;
    height: 12%;
    padding: 0;
    background-color: rgba(204, 204, 255, 0.5);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
    display: block;
    
}


#toolbar_house_div {
    position: absolute;
    top: 6%;
    left: 1.5%;
    width: 14%;
    height: 60%;
    
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#house_cost_div {
    position: absolute;
    bottom: 4%;
    left: 1.5%;
    width: 14%;
    height: 16%;

    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#house_cost_data, #shop_cost_data, #factory_cost_data, #road_cost_data, #wind_turbine_cost_data, #bulldoze_cost_data {
    position: relative;
    font-size: 1vw;
    top: -115%;
    text-align: center;
}

#house_icon {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    transition: 0.1s;
}
#house_icon:hover {
    transform: scale(1.15);
}


#toolbar_shop_div {
    position: absolute;
    top: 6%;
    left: 18%;
    width: 14%;
    height: 60%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#shop_cost_div {
    position: absolute;
    bottom: 4%;
    left: 18%;
    width: 14%;
    height: 16%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}



#shop_icon {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;

    transition: 0.1s;
}
#shop_icon:hover {
    transform: scale(1.15);
}

#toolbar_factory_div {
    position: absolute;
    top: 6%;
    left: 34.3%;
    width: 14%;
    height: 60%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#factory_cost_div {
    position: absolute;
    bottom: 4%;
    left: 34.3%;
    width: 14%;
    height: 16%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#factory_icon {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;

    transition: 0.1s;
}
#factory_icon:hover {
    transform: scale(1.15);
}


#toolbar_road_div {
    position: absolute;
    top: 6%;
    right: 34.3%;
    width: 14%;
    height: 60%;
    
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#road_cost_div {
    position: absolute;
    bottom: 4%;
    right: 34.3%;
    width: 14%;
    height: 16%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#road_icon {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;

    transition: 0.1s;
}
#road_icon:hover {
    transform: scale(1.15);
}

#toolbar_wind_turbine_div {
    position: absolute;
    top: 6%;
    right: 18%;
    width: 14%;
    height: 60%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#wind_turbine_cost_div {
    position: absolute;
    bottom: 4%;
    right: 18%;
    width: 14%;
    height: 16%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}


#wind_turbine_icon {
    position: absolute;
    width: 95%;
    height: 95%;
    left: 5%;
    top: 5%;

    transition: 0.1s;
}
#wind_turbine_icon:hover {
    transform: scale(1.15);
}



#toolbar_bulldoze_div {
    position: absolute;
    top: 6%;
    right: 1.5%;
    width: 14%;
    height: 60%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}

#bulldoze_cost_div {
    position: absolute;
    bottom: 4%;
    right: 1.5%;
    width: 14%;
    height: 16%;
   
    background-color: rgba(204, 204, 255, 0.8);
    border-style: solid;
    border-radius: 1rem;
    border-color:  #0047AB;
}


#bulldoze_icon {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;

    transition: 0.1s;
}
#bulldoze_icon:hover {
    transform: scale(1.15);
}


#toolbar_arrow_div {
    position: absolute;
    top: -18%;
    left: 44%;
    width: 12%;
    height: 18%;
   
    background-color: rgba(172, 172, 218, 0.8);
    border-style: solid;
    border-radius: 0.5rem;
    border-color:  #0047AB;
}

#arrow_down_icon {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    transition: 0.1s;
}
#arrow_down_icon:hover {
    transform:translateY(0.1rem);
}


#toolbar_show_div {
    position: absolute;
    bottom: 3%;
    left: 48.8%;
    width: 2.3%;
    height: 2.3%;
   
    background-color: rgba(172, 172, 218, 0.8);
    border-style: solid;
    border-radius: 0.5rem;
    border-color:  #0047AB;
    display: none;
}

#arrow_up_icon {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    transition: 0.1s;
}
#arrow_up_icon:hover {
    transform: translateY(-0.1rem);
}

/* ==== LOADING SCREEN ===== */

#loading_screen {
    background: black;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    display: block;
    z-index: 1;
}

#loading_percentage {
    position: absolute;
    width: 30%;
    height: 5%;
    margin:auto;
    text-align: center;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 0;
    border-color: white;
    border-style: solid;
    border-width: medium;
}

#loading_percentage_data {
    position: relative;
    bottom: -100%;
    line-height: 2rem;
    font-size: 200%;
    text-align: center; 
    color: white;
}

#loading_progress {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 0%;
}

#loading_loading{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    line-height: 2rem;
    font-size: 200%;
    text-align: center; 
    color: white;
}


#hint {
    position: absolute;
    width: 50%;
    height: 10%;
    margin:auto;
    text-align: center;
    bottom: 10%;
    left: 0;
    right: 0;

}

#hint_data {
    position: relative;
    line-height: 2rem;
    font-size: 200%;
    text-align: center; 
    color: white;
}



